{% extends "sysBase/listBase.html" %}
{% load i18n sys_tags %}
{% block list_button %}
    <ul>
        <li>
            <a href="{% url addtag %}">{% trans "Add" %}</a>
        </li>
        <li>
            <a href="{% url deltag %}"
               class="multi_btn"
               alert_text="{% trans 'Are you sure to delete selected?' %}">
                {% trans "Delete" %}
            </a>
        </li>
    </ul>
{% endblock %}
{% block list_head %}
    <th>{% trans 'Tag Name' %}</th>
    <th>{% trans 'Action Latest' %}</th>
{% endblock %}
{% block list_body %}
    <td width="32px"><input type="checkbox" class='cbox' tid={{ t.id }}></td>
    <td><a href="{% url edittag t.id %}">{{ t.name }}</a></td>
    <td>{{ t.actionLatest|date:"Y-m-d H:i:s" }}</td>
{% endblock %}
{% block list_body_length %}3{% endblock %}