{% extends "sysBase/formBase.html" %}
{% block excra_css %}
    <style type="text/css">
        .sys_form_div{
            width: 700px;
            margin: 7em auto;
            box-shadow: 0 4px 18px #C8C8C8;
        }
        .sys_form_div legend{
            text-align: center;
        }
        .sys_form_div .form-actions{
            margin-bottom: 0;
        }
        .controls li{
            list-style: none;
            display: inline-block;
        }
        .controls ul{
            margin:0 !important;
        }
        .commentsorder{
            vertical-align: inherit;
        }
        #id_description,
        #id_statisticsCode{
            width: 85%;
        }
    </style>
{% endblock %}