{% extends "sysBase/base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Error" %}{% endblock %}
{% block excra_css %}
    <style type="text/css">
        .sys_error{
            width: 500px;
            margin: 7em auto;
            box-shadow: 0 4px 18px #C8C8C8;
            border-radius: 6px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block sys_top_nav %}
    {% include "sysnav.html" %}
{% endblock %}
{% block page_body_content %}
    <div class="sys_error">
        <h3>{% trans "Error" %}</h3>
        <p>{{ message }}</p>
    </div>
{% endblock %}