{% load i18n sys_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block page_title %}{{ page_title }}{% endblock %}- {{ title }}
        </title>
        <link rel="stylesheet" href="/static/css/sysbase.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
        {% block excra_css %}
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div class="blog_body">
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <div class="nav-collapse">
                                {% block sys_top_nav %}
                                    {% include "sysnav.html" %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_content">
                    {% block page_body_content %}
                    {% endblock %}
                </div>
            </div>
            <div class="footer">{{ title }}</div>
        </div>
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
        {% block excra_js %}
        {% endblock %}
    </body>
</html>