{% extends "sysBase/base.html" %}
{% load i18n %}
{% block sys_top_nav %}
    {% include "sysnav.html" %}
{% endblock %}
{% block page_body_content %}
    <div class="list_content">
        <div class="syslist_btn well form-search">
            {% block list_button %}
            {% endblock %}
            <form action="{{ search_url }}" method="post" class="search_form">{% csrf_token %}
                <input type="text" class="input-medium search-query" name='search' placeholder="{{ search_field }}">
                <button type="submit" class="btn">{% trans "Search" %}</button>
            </form>
        </div>
        <div class="syslist">
            <table class="table">
                <thead>
                    <tr>
                        <th  width="32px">
                            <input type="checkbox" onclick="$('.cbox').attr('checked',this.checked);">
                        </th>
                        {% block list_head %}
                        {% endblock %}
                    </tr>
                </thead>
                <tbody>
                {% if object_result %}
                    {% for t in object_result %}
                        <tr>
                            {% block list_body %}
                            {% endblock %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="{% block list_body_length %}1{% endblock %}">{% trans 'No record found!' %}</td>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}
{% block excra_js %}
    <script type="text/javascript" src="/static/js/sysjs.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".multi_btn").click(function(){
                var can_continue = false;
                var tids = [];
                var selected_data = {};
                var turl = $(this).attr('href');
                $(".cbox").each(function(){
                    if($(this).is(':checked')){
                        tids.push($(this).attr('tid'));
                        can_continue = true;
                    }
                });
                if(can_continue){
                    if(confirm($(this).attr('alert_text'))){
                        selected_data['tids'] = tids;
                        $.ajax({
                            url: turl,
                            data: selected_data,
                            type: 'POST'
                        });
                    }else{
                        return false;
                    }
                }else{
                    alert('{% trans "Choose one data at least,please!" %}');
                    return false;
                }
            });
        });
    </script>
{% endblock %}