{% extends "sysBase/listBase.html" %}
{% load i18n sys_tags %}
{% block excra_css %}
    <style>
        .table_head_ul{
            width: 60px;
        }
        .list_filter{
            min-width: 60px;
        }
    </style>
{% endblock %}
{% block list_button %}
    <ul>
        <li>
            <a href="{% url adduser %}">{% trans "Add" %}</a>
        </li>
        <li>
            <a href="{% url deluser %}"
               class="multi_btn"
               alert_text="{% trans 'Are you sure to delete selected?' %}">
                {% trans "Delete" %}
            </a>
        </li>
    </ul>
{% endblock %}
{% block list_head %}
    <th>{% trans 'Username' %}</th>
    <th>{% trans 'Nickname' %}</th>
    <th>
        {% get_list_filter 'User Role' 'getuserlist' 'user_info__userRole' userRole %}
    </th>
    <th>{% trans 'Mail Account' %}</th>
    <th>{% trans 'Join Date' %}</th>
    <th>{% trans 'Last Login' %}</th>
    <th>
        {% get_list_filter tstatus 'getuserlist' 'is_active' userStatus %}
    </th>
{% endblock %}
{% block list_body %}
    <td width="32px"><input type="checkbox" class='cbox' tid={{ t.id }}></td>
    <td><a href="{% url edituser t.id %}">{{ t.username }}</a></td>
    <td>{{ t.user_info.nickname }}</td>
    <td>{{ t.user_info.get_userRole_display }}</td>
    <td>{{ t.email }}</td>
    <td>{{ t.date_joined|date:"Y-m-d H:i:s" }}</td>
    <td>{{ t.last_login|date:"Y-m-d H:i:s" }}</td>
    <td>{% if t.is_active %}{% trans 'Enabled' %}{% else %}{% trans 'Disabled' %}{% endif %}</td>
{% endblock %}
{% block list_body_length %}8{% endblock %}
