{% extends "sysBase/base.html" %}
{% load i18n %}
{% block excra_css %}
    <style type="text/css">
        .sys_form_div{
            width: 500px;
            margin: 7em auto;
            box-shadow: 0 4px 18px #C8C8C8;
        }
        .sys_form_div legend{
            text-align: center;
        }
        .sys_form_div .form-actions{
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block sys_top_nav %}
    {% include "sysnav.html" %}
{% endblock %}
{% block page_body_content %}
    <div class="sys_form_div">
        <form action="{% block form_url %}{{ form_url }}{% endblock %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>{% block form_legend %}{{ page_title }}{% endblock %}</legend>
                {% for f in form %}
                    <div class="control-group">
                        <label class="control-label">{{ f.label }}: </label>
                        <div class="controls">
                            {{ f }}{{ f.errors }}
                        </div>
                    </div>
                {% endfor %}
                {% block form_extra_error %}
                {% endblock %}
                <div class="form-actions">
                    {% block form_btn %}
                        <button class="btn" type="submit">{% trans 'Submit' %}</button>
                        <button class="btn" type="reset">{% trans 'Reset' %}</button>
                    {% endblock %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}